body {
  background-color: #cfdfda;
  font-family: 'Josefin Sans', sans-serif;
}
.container {
  position: absolute;
  top: 10px;
  left: 10%;
}
.main {
  width: 80%;
  margin-right: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #236477;
  color: #ffffff;
  margin-bottom: 5px;
}
.offline {
  width: 80%;
  margin-right: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #173042;
  color: #ffffff;
/*   border: 1px solid #236477;   */
}
.online {
  width: 80%;
  margin-right: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #7cad3e;
  color: #ffffff;
}
#online {
  cursor: pointer;
}
#offline {
  cursor: pointer;
}
#all {
  cursor: pointer;
}