body {
    text-align: center;
    background-color: #090909;
    color: #FFFAF0;  
}
.img-circle {
    font-size: 100px;
    margin: 10px;
    cursor: pointer;

    padding: 20px;
}
h1 {
    margin-bottom: 30px;
}
.lab {
    font-size: 30px;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}
.timer {
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}
.btn-warning {
    background-color: #090909;
    border-color: #090909;
}
.btn-warning:focus {
    background-color: #090909;
    border-color: #090909;
}